<!doctype html>

<html lang="en">
  <head>
    <meta charset="utf-8">

    <title>Admin</title>


    <script defer src="/socket.io/socket.io.js"></script>

    <script defer type="text/javascript" src="js/users.js"></script>
    <script src="https://vuejs.org/js/vue.js"></script>
    <script defer src="js/admin_menu.js"></script>
    

    <link rel="stylesheet" type="text/css" href="/css/admin_menu.css">


  </head>

  <body>
    <div id ="wrapper">

      <div align="center" id="logo">
        <img src="/img/logotyp.svg" class="logo">

      </div>
      
      <div id="menu">
	
        <section id="eventInfo">
	  <h2>Manage event</h2>
	  <div>
            <button type="submit" id="eventButton" v-on:click="createEvent" alt="Create event" width="10">Create Event</button>
            <div id="eventCode" class="center"><p id="temp">temp</p></div>
            <button type="submit" v-on:click="startEvent(null)" alt="Start event" width="10">Continue</button>
	  </div>

        </section>
        <section id="userList">
	  <h2>Connected users:</h2>
	  <div id="list">
            <div v-for="user in users">

              <p v-bind:id="user.id">
		<button v-bind:id="button+user.id" v-on:click="confirmRemove(user)">X</button>
		{{user.name}}
        {{user.eventCode}}
              </p>

            </div>
	  </div>


        </section>
      </div>
    </div>
  </body>
  <footer>

  </footer>
