<!doctype html>

<html lang="en">
  <head>
    <meta charset="utf-8">

    <title>User</title>
    <meta name="description" content="The HTML5 Herald">
    <meta name="author" content="SitePoint">
    
    

    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <!-- <script src="http://localhost:3000/socket.io/socket.io.js"></script> -->
    <script src="/socket.io/socket.io.js" defer></script>
    
    <script src="js/user_script.js" defer></script>
    <script src="https://vuejs.org/js/vue.js"></script>
    
  </head>

  <body class="body">
    
    <div align="center">
      <img src="/img/logotyp.svg" class="logo">
    </div>

    <section class="loginSection" id="loginSection">
      
      <div class="loginInfoDiv" id="loginInfoDiv" align="center" >
	<h2 style="font-size: 300%"> Login </h2>
	
	<p>
	  <input class="userLogin" type="text" id="username" required="required" v-model="user" placeholder="Username" /><br><br>
	  <input class="userLogin" type="text" id="password" required="required" v-model="pass" placeholder="Password" />
	</p>

	<img v-on:click="login(user, pass)" src="/img/loginButton.png" id="loginButton" class="forwardButton"/>

	<img v-on:click="createAccount" src="/img/createAccount2.png"class="forwardButton"  />



      </div>
      
      
  
      
    </section>
  </body>

  <footer align="center" id="footer">
    <hr>
    <h4> OneLove</h4>
    <p> &copy; 2020 EST. by Rövgänget</p>
    <br>
  </footer>
</html>

