@font-face {
    font-family: dateFont;
    src: url("/fonts/Royalacid.ttf") format("truetype");
}

.dateFont{
    color: black;
    font-size: 900%;
    font-family: dateFont;
}

h1 {
    color: red;
}

.body{
    height: 100vh;
}

.logo{
    width: 30vw;
    height: 30vw;
}

.loginSection{
    //height: 60vh;
}

.loginInfoDiv{
    padding: 50px;
}

.userLogin{
    width: 70vw;
    height: 8vh;
    font-size: 250%;

    border: 5px solid white; 
    -webkit-box-shadow: 
    inset 0 0 8px  rgba(0,0,0,0.1),
    0 0 16px rgba(0,0,0,0.1); 
    -moz-box-shadow: 
    inset 0 0 8px  rgba(0,0,0,0.1),
    0 0 16px rgba(0,0,0,0.1); 
    box-shadow: 
    inset 0 0 8px  rgba(0,0,0,0.1),
    0 0 16px rgba(0,0,0,0.1); 
    padding: 15px;
    background: rgba(255,255,255,1);
    margin: 0 0 10px 0;
}

#footer{
    font-size: 150%;
    position: relative;
    bottom:0px;
}

.forwardButton{
    width: 23vw;
    height: 23vw;
    background-image: url(/img/forwardButton);
    //position:relative;
    box-sizing:border-box;
}

.historyBtn{
    display: block;
    width: 23vw;
    height: 10vw;
    border-radius: 10%;
    font-size: 3em;
    color: white;
    background-color: black;
}


.noButton{
    width: 23vw;
    height: 23vw;
    padding-top: 100px;

}

.endheart{
    width: 70vw;
    height: 70vw;
    background-color: white;

}

.match{
    font-size: 100px;

}

.heartButton{
    width: 26vw;
    height: 26vw;
    padding-right: 150px;
    padding-top: 100px;
    background-color: white;

}


.genderAgeChoiceDiv{
    font-size: 250%;
    display: grid;
    align-items: normal;
    grid-template-columns: 50% 50%;
    //float: left;
}

.genderAgeChoiceDiv div{
    //display: flex;
    //float:left;
}

#genderRadioButton{
    width: 2.5em;
    height: 2.5em;
}

#ageDropdown{
    font-size: 200%;
    width: 30vw;
    height: 10vw;
}

#ageOption{
    font-size: 0.5em;
}

#accountCreationSuccessMessage{
    font-size: 3em;
    font-weight: bold;
    font-style: oblique;
    font: serif;
    color: green;
}

.boxesDiv{
    //width: 100vw;
    //height: 30vw;
    display: inline-block;
    margin-top: 8vh;
    margin-bottom: 8vh;
    
    align-items: center;
    grid-template-collumns: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
}

.boxesInput{
    width: 5vw;
    height: 5vw;
    float: left;
    background-color: lightgrey;
    margin: 1.5vw;
}

.heart {
    float: left;
    margin: 2vw;
    width: 4vw;
    height: 4vw;
    
    background-color: lightgrey;
    //height: 30px;
    transform: rotate(-45deg);
    //width: 30px;
}
.heart:before,
.heart:after {
    content: "";
    background-color: inherit;
    border-radius: 50%;
    height: 4vw;
    position: absolute;
    width: 4vw;
}
.heart:before {
    top: -2vw;//px;
    left: 0;
}


.tableDiv{

    display: grid;
    grid-template-columns: auto auto;
    margin-left: 15px;

/*
//width: 100vw;
//height: 30vw;
display: inline-block;
margin-top: 1vh;
margin-bottom: 10vh;

align-items: center;
grid-template-collumns: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;

*/
}

.choosentable {
    height: 100px;
    width: 350px;
    border-style: solid;
    border-width: 10px;
    display: inline-block;

    background-color: #bd0f1b;
}

.table {
    height: 100px;
    width: 350px;
    border-style: solid;
    border-width: 10px;
    display: inline-block;
    background-color: #F5FFFA;
}





.heartbuttom{
    position: relative;
    width: 200px;
    height: 200px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    background-color: rgba(250,184,66, 1);
}


.lds-heart {
    display: inline-block;
    position: relative;
    padding: 30vh 0;
    width: 80px;
    height: 80px;
    transform: rotate(45deg);
    transform-origin: 30px 40px;
}
.lds-heart div {
    top: 20vw;
    left: 20vw;
    position: absolute;
    width: 32px;
    height: 32px;
    background: #bd0f1b; //black;
    animation: lds-heart 1.2s infinite cubic-bezier(0.215, 0.61, 0.355, 1);
}
.lds-heart div:after,
.lds-heart div:before {
    content: " ";
    position: absolute;
    display: block;
    width: 32px;
    height: 32px;
    background: #bd0f1b;// black;
}
.lds-heart div:before {
    left: -24px;
    border-radius: 50% 0 0 50%;
}
.lds-heart div:after {
    top: -24px;
    border-radius: 50% 50% 0 0;
}
@keyframes lds-heart {
    0% {
	transform: scale(5.7);
    }
    5% {
	transform: scale(6.6);
    }
    39% {
	transform: scale(5.1);
    }
    45% {
	transform: scale(6);
    }
    60% {
	transform: scale(5.7);
    }
    100% {
	transform: scale(5.4);
    }
}





#inputDate{
    width: 850;
    height: 400;
    font-size: 60px;
}


//////////////////////////////////////////
.spinner {
  margin: 100px auto;
  width: 50px;
  height: 40px;
  text-align: center;
  font-size: 10px;
}

.spinner > div {
  background-color: #333;
  height: 12vh;
  width: 10px;
  display: inline-block;
  
  -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
  animation: sk-stretchdelay 1.2s infinite ease-in-out;
  margin: 5px;
}

.spinner .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
  margin: 5px;
}

.spinner .rect3 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
  margin: 5px;
}

.spinner .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
  margin: 5px;
}

.spinner .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
  margin: 5px;
}

@-webkit-keyframes sk-stretchdelay {
  0%, 40%, 100% { -webkit-transform: scaleY(0.4) }  
  20% { -webkit-transform: scaleY(1.0) }
}

@keyframes sk-stretchdelay {
  0%, 40%, 100% { 
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }  20% { 
    transform: scaleY(1.0);
    -webkit-transform: scaleY(1.0);
  }
}
// Hourglaass spin while waiting
/*
.hourglassSpin{
    
    font-size: 10vw;
    animation: spin, spinback;
    animation-delay: .5s, .5s;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
@keyframes spin
100%{
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}
@keyframes spinback
0%{
    -webkit-transform: rotate(181deg);
    transform: rotate(181deg);
    color: #ffa500;
}
100%{
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    color: black;
}

.hourglassDiv{
    width: 100%;
    margin: 10vh auto;
    text-align: center;
}
*/
